html
{
height: 100%;
}

.container
{
display:grid;
grid-template-columns: 250px 1fr 300px;
height: 100%;
overflow: hidden;
}


body{
    background-color:rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    font-family: 'Roboto', sans-serif!important;
}

.button
{
position:absolute;
top: 0;
right:0;


}

.sign-up,.sign-in,
.Search,.Home,.Cart,.Account
{
margin-left: -50px;
margin-right: 100px;
margin-top: 20px;
background-color: #f79817;
color: #000;
padding: 10px 20px;
border-radius: 10px;
border: none;
}

.homefood
{
float: right;
}
.images-button
{
    position: absolute;
    top: 60%;
    left: 19%;
    transform: translate(-50%,-50%);
    background-color:#000;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    border-color: white;
  
}
a{
    text-decoration: none;
    color: inherit;
}


h2{
    text-align: center;

}
h1,h2,h3{
    color: white  ; 
}

/*menu design*/ 
#menu
{
    background-color: #f79817;
}

.menu-iteam
{
    display: block;
    font-size: 25px;
    padding:10Px;
    margin:50px;
    margin-top: 45%;
    color:#000;
    font-weight: 300; 
}   

.menu-iteam a:hover
{
    background-color: white ;
}
     
#food-container
{
    background-color: #000;
    overflow:scroll;
    overflow-x:hidden;
    box-sizing:content-box;
}

#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top:0;
    background:black;
    z-index:1;
}

::-webkit-scrollbar{
    display:none; 
}

#header.address 
{
    font-size: 20px;
}

.your-address
{
    border:1px solid white;
    color:#f79817;
    padding:5px;
    border-radius:10px;
    width:150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
} 

.add-box i{
    font-size: 20 px;
}

.util i,.user i{
    font-size: 18 px;
    margin: 16px;
    border: 1px solid white ;
    padding: 8 px ;
    color: #f79817;
    border-radius: 20px;
    cursor:pointer;
}

.util i:active
{
 color:#f79817;  
 background:white; 
}

.food-iteams
{
 display: none;
}

#biryani,#friedrice,#kottu,#noodles,#nasigoreng,#vegfood
{
    margin-top:40px;
}

#category-name,.iteam-menu{
    margin: 10px;
    font-size: 35px;
    color: #f79817;
}
#item-card
{
    width: 200px;
    height: 220px;
    padding: 10px;
    margin: 10px;
    display:inline-block;
    border-radius: 5px;
    background:white;
    cursor:progress;
    transition: 0.5s all ease-in-out;


}
#card-top
{
    display:flex;
    margin:5px ;
    justify-content:space-between;
}
.fa-star
{
    padding: 7px;
    color: goldenrod;
    background:black;
    font-size: 14px;
    border-radius: 14px;
}
.fa-heart-o {
    padding: 6px;
    background: #f79817;
    cursor: pointer;
    border-radius: 50%;


}
.button5
{
    cursor: pointer;
    background: #f79817;
    margin-left: 54px;
    border: none;
    padding-left: 10px ;
    padding-right: 10px;
    border-radius: 10px;

}

#item-card img{
    width:120px;
    height:100px;
    border-radius: 50% ;
    margin:auto;
    display: block;
    margin-bottom: 15px;
    transition: 0.5s all esae-in-out;

}
#item-card:hover img{
    transform:scale(1.2);
}
#item-name
{
    margin:5px;
    font-weight: 600;
    color:black;
    font-size: 15px;
    text-align: center;
}
#item-price
{
    margin:0;
    font-weight:500;
    color:black;
    font-size: 18px;
    text-align: center;
}
 #cart
 { 
    background-color:#f79817;
    padding-right: 30px;
    overflow-y: scroll;

 }

.item-menu
{
margin: 0;
font-size: 30px;
margin-top: 20px;
color: #000 ;
}

.border{
    width: 80px;
    height: 4px;
    margin-bottom:30px;
    border-radius: 2px;
    background: #000;

}

.list-card
{
  display: flex;
  align-items: center;
  margin-top: 30px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.list-card:hover{
    background: white;
}

.list-card:hover img{
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
}

.list-card img
{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}

.list-name
 {
  font-size: 25px;
  margin: 10px;
  text-decoration:none;
  text-transform: capitalize;
  color: #000;
 } 

/**/

/*cart page css*/
.cart.toggle

#cart-page
{
    background:#000;
    margin:40px 10px;
    margin-right: 50px;
    padding: 20px,30px;
    padding-bottom: 30px;
    position: relative;
}
#cart-title
{
    font-size:35px;
    margin:0%;
    color: #f79817;
}
#cart-page table
{
    width:100%;
    margin-top:20px;
    text-align: center;
    color: white;
   
}
#cart-page table thead td{
    font-size: 25px;
    padding-bottom: 10px;
    

}
#m-total-amount
{
    display: none;
    color:white;
}

#cart-page table tbody td
{
    padding: 10px;
    font-size: 20px;
}

#cart-page table tbody button{
    outline: none;
    border: none;
    font-size: 16px;
    background:none;
    background:#f79817;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
    padding: 3px 8px;

}

#cart-page table tbody img{
    width: 75px;
    height: 75px;
    border-radius: 50px;
}

#delete-all-button
 {
    outline: none;
    border: none;
    background:#f79817;
    color: #000;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;

 }
#delete-all-button:active{
    color: #f79817;
    background: none;
    border: 2px solid #f79817;
}

/**/

/*checout*/
 #checkout
 {
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    background: #f79817;
    padding: 10px 20px;
 }

 #checkout p{
    margin: 15px 0;
    float:left;

 }
 #total-price,#total-item{
    font-size: 20px;
    color: #000;
 }

 #cart-btn
 {
    outline: none;
    border: none;
    background:black;
    color: #f79817;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;

 }
#cart-btn:active{
    color: black;
    background: none;
    border: 2px solid black
}
#delievery
{
    color: #000;
    font-size: 16px;
}
/**/

/* sign-in and sign-up*/
.sign-box {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border: 1px #f79817;
    background-color:black;
    text-align: center;
    width: 300px;
    height: 300px;
    color: white;
    margin-top: 100px;
	margin-left:500px;
    text-align:left;  
}

.sign-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style the labels for username and password */
label {
    display: block;
    font-weight: bold;
}

/* Style the input fields */
input[type="text"],
input[type="password"],
input[type="email"]
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f79817;
    border-radius: 4px;
}

/* Style the "Remember me" checkbox */
input[type="checkbox"] {
    margin-bottom: 15px;
}

/* Style the submit button */
input.submit {
    background-color:#f79817;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add some hover effect to the submit button */
input.submit:hover {
    background-color:#f79817;
}
/**/

/* Admin page */
h1{
    text-align: center;
}
.button1
{
text-align: center;

}
.add-button
{
    margin-left: -50px;
margin-right: 100px;
margin-top: 20px;
background-color: #f79817;
color: #000;
padding: 10px 20px;
border-radius: 10px;
border: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #f79817;
}

th, td {
    padding: 10px;
    text-align: left;
    color: white;
}

th {
    background-color:#f79817;
    color: #000;
}
.action-buttons {
    text-align: center;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    background-color: #f79817;
    color:#000

}
/**/
/* add page  */
.product-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:#f79817;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style the form elements */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid#ccc;
    border-radius: 4px;
}

input[type="file"] {
    width: 100%;
    margin-bottom: 15px;
}

#add-sub {
    background-color:black;
    color: #f79817;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
/**/

